<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
xmlns:dist="http://schemas.android.com/apk/distribution"
package="com.geckonative.module"
split="geckoview-module">

<dist:module
    dist:instant="false"
    dist:title="@string/title_dynamic_geckoview">
    <dist:delivery>
        <dist:on-demand />
        <!-- <dist:install-time /> -->
    </dist:delivery>
    <dist:fusing dist:include="true" />
</dist:module>

<application android:extractNativeLibs="true" android:hasCode="false">
</application>
</manifest>
