.react-split {
  flex: 1;
  height: 100%;
  position: relative;
  width: 100%;
}
.react-split__pane {
  height: 100%;
  position: absolute;
  white-space: normal;
  width: 100%;
  overflow: hidden;
}
.react-split__sash {
  height: 100%;
  position: absolute;
  bottom: 0;
  transition: background-color 0.1s;
  width: 100%;
  z-index: 2;
}
.react-split__sash--disabled {
  pointer-events: none;
}
.react-split__sash--vertical {
  cursor: col-resize;
}
.react-split__sash--horizontal {
  cursor: row-resize;
}
.react-split__sash-content {
  width: 100%;
  height: 100%;
}

.react-split--dragging.react-split--vertical {
  cursor: col-resize;
}
.react-split--dragging.react-split--horizontal {
  cursor: row-resize;
}

body.react-split--disabled {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.split-sash-content {
  position: relative;
  width: 100%;
  height: 100%;
}

.split-sash-content::after {
  content: "";
  position: absolute;
  background-color: var(--border);
  transition: background-color 0.2s, width 0.1s, height 0.1s;
}

.react-split__sash--vertical .split-sash-content::after {
  top: 0;
  bottom: 0;
  left: 50%;
  width: 1px;
  transform: translateX(-50%);
}

.react-split__sash--horizontal .split-sash-content::after {
  left: 0;
  right: 0;
  top: 50%;
  height: 1px;
  transform: translateY(-50%);
}

.split-sash-content.split-sash-content-active::after {
  background-color: var(--accent);
}

.react-split__sash--vertical
  .split-sash-content.split-sash-content-active::after {
  width: 3px;
}

.react-split__sash--horizontal
  .split-sash-content.split-sash-content-active::after {
  height: 3px;
}
