<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>provisioningProfiles</key>
	<dict>
		<key>org.streetwriters.notesnook</key>
		<string>Notesnook App Distribution 2025</string>
        <key>org.streetwriters.notesnook.notewidget</key>
		<string>Notesnook Widget Distribution 2025</string>
        <key>org.streetwriters.notesnook.share</key>
		<string>Notesnook Share Distribution 2025</string>
	</dict>
</dict>
</plist>