@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:400|Noto+Serif:700&display=swap");

:root,
body,
#root {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

* {
  -webkit-transition: background-color 300ms linear, border-color 300ms linear;
  -moz-transition: background-color 300ms linear, border-color 300ms linear;
  -o-transition: background-color 300ms linear, border-color 300ms linear;
  -ms-transition: background-color 300ms linear, border-color 300ms linear;
  transition: background-color 300ms linear, border-color 300ms linear;
}

* {
  font-family: "Noto Sans JP", sans-serif;
}

@keyframes fadeUp {
  0% {
    transform: translateY(500px);
    opacity: 0;
  }
  80% {
    transform: translateY(0px);
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
