@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,700|Noto+Serif:400,700&display=swap");

:root,
body,
#root {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

* {
  -webkit-transition: background-color 300ms linear, border-color 300ms linear;
  -moz-transition: background-color 300ms linear, border-color 300ms linear;
  -o-transition: background-color 300ms linear, border-color 300ms linear;
  -ms-transition: background-color 300ms linear, border-color 300ms linear;
  transition: background-color 300ms linear, border-color 300ms linear;
}

body {
  font-family: "Noto Sans", sans-serif;
  font-weight: normal;
  font-size: 14px;
}

@keyframes fadeUp {
  0% {
    transform: translateY(500px);
    opacity: 0;
  }
  80% {
    transform: translateY(0px);
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
