html,
body {
  font-size: 16px;
}

@media only screen and (max-width: 480px) {
  html,
  body {
    font-size: 18px;
  }
}

:root,
body,
#root {
  margin: 0;
  height: 100%;
}

* {
  -webkit-transition: background-color 300ms linear, border-color 300ms linear;
  -moz-transition: background-color 300ms linear, border-color 300ms linear;
  -o-transition: background-color 300ms linear, border-color 300ms linear;
  -ms-transition: background-color 300ms linear, border-color 300ms linear;
  transition: background-color 300ms linear, border-color 300ms linear;
}

* {
  font-family: "Poppins", sans-serif;
}

@keyframes fadeUp {
  0% {
    transform: translateY(500px);
    opacity: 0;
  }
  80% {
    transform: translateY(0px);
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

/* svg {
  width: 1.5rem;
} */

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}
