body {
  margin: 0px !important;
  font-family: 'Open Sans';
}

.app-main {
  overflow: visible;
}

#formBox input {
  font-family: 'Open Sans';
  font-weight: 600 !important;
  background-color: transparent;
  border: none;
  width: 100%;
  outline: none;
  resize: none;
  font-size: 25px;
  height: 45x;
}

#formBox {
  margin-block-end: 0px;
  position: relative;
}

#titlebar {
  background-color: transparent;
  padding-left: 0px;
  padding-right: 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
#formBox > div,
#formBox > input {
  word-wrap: break-word; /* make sure the div and the textarea wrap words in the same way */
  box-sizing: border-box;
  width: 100%;
}

#titlebar input:focus {
  outline: none;
}

.info-bar {
  font-family: 'Open Sans';
  color: gray;
  font-size: 11.5px;
  height: 13px;
  display: flex;
  padding-left: 4px !important;
  justify-content: space-between;
  margin-top: 5px;
}

.info-bar a {
  text-decoration: none;
  color: gray;
}

#infowords,
#infodate,
#infosaved {
  font-family: 'Open Sans';
  margin-right: 5px;
  margin-left: 0px;
  border-radius: 5px;
  margin-top: 0;
  height: 16px;
  padding-top: 2.5px;
}

.visible {
  display: inline-flex !important;
}
