body {
	margin:0px !important;
	overflow: visible;
}

#formBox textarea {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
	font-weight: 600 !important;
	background-color: transparent;
	border: none;
	width: 100%;
	outline: none;
	resize: none;
	font-size: 32px;
  }
  
  #formBox {
	margin-block-end: 0px;
	position: relative;
  }
  
  #titlebar {
	background-color: transparent;
	padding-left: 0px;
	padding-right: 12px;
	min-height: 45px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
  }
  #formBox > div,
  #formBox > textarea {
	word-wrap: break-word; /* make sure the div and the textarea wrap words in the same way */
	box-sizing: border-box;
	width: 100%;
  }
  
  #formBox > textarea {
	overflow: hidden;
	position: absolute;
	height: 100%;

	padding-top: 4px;
    padding-bottom: 5px;
  }
  
  #textCopy {
	  visibility: hidden;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
	font-weight: 600 !important;
	font-size: 32px;
	padding-top: 4px;
    padding-bottom: 5px;
	padding-right: 0.5em;
	padding-left: 0.5em;
  }
  
  #formBox > div {
	min-height: 45px;
  }
  
  .info-bar {
	color: gray;
	font-size: 11px;
	height: 15px;
	display: flex;	
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
	padding-left: 14px !important;
	justify-content: space-between;
  }

  .info-bar a {
	text-decoration: none;
	color: gray
  }
  
  #titlebar textarea:focus {
	outline: none;
  }
  #infowords {
	margin-right: 5px;
	margin-left: 0px;
	border-radius: 5;
	margin-top: 0;
  }
  
  #infodate {
	margin-right: 5px;
	margin-left: 5px;
	margin-top: 0;
	border-radius: 5;
  }
  
  #infosaved {
	margin-right: 5px;
	margin-left: 5px;
	border-radius: 5;
	margin-top: 0;
  }
