.App {
  flex:1;
}

.ProseMirror:focus {
  outline: none;
}

.ProseMirror p.is-editor-empty:first-child::before {
  color: #a9a9a9;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}