.tox .tox-tbtn:hover {
  background: var(--hover) !important;
}

.tox-textfield {
  border-radius: 5px !important;
  border-color: var(--border) !important;
  color: var(--text) !important;
  padding: 10px !important;
  font-size: 0.875rem !important;
  line-height: 0.875rem !important;
}

.tox-textfield:focus {
  outline: none !important;
  border-color: var(--primary) !important;
  border-width: 2px !important;
}

.tox-textfield:hover {
  border-color: var(--dimPrimary) !important;
}

.tox-button {
  background-color: var(--primary) !important;
  color: var(--static) !important;
  transition: opacity 300ms linear;
  border-width: 0px !important;
}

.tox-button:hover:not(.tox-button[disabled="disabled"]) {
  opacity: 0.8;
}

.tox-button--secondary,
.tox-button--icon {
  background-color: var(--bgSecondary) !important;
  color: var(--text) !important;
}
.tox-button[disabled="disabled"] {
  background-color: var(--bgSecondary) !important;
  color: var(--fontTertiary) !important;
}

.tox-tbtn .tox-tbtn--select {
  border-radius: 5px !important;
}

.tox-dialog {
  border-radius: 5px !important;
  border-width: 0px !important;
  box-shadow: 4px 5px 18px 2px #00000038;
  padding: 15px !important;
}

.tox-dialog__footer {
  border-top: 0px !important;
}

.tox-dialog__title {
  color: var(--text) !important;
  font-size: 1.2rem !important;
  font-weight: bold !important;
}

.tox .tox-toolbar,
.tox .tox-toolbar__overflow,
.tox .tox-toolbar__primary {
  background: none !important;
  border-bottom: 0px solid var(--border) !important;
}

.mce-content-body {
  outline: none;
  height: 100%;
  padding-bottom: 150px;
  margin: 0px !important;
}

.mce-content-body:not([dir="rtl"])[data-mce-placeholder]:not(.mce-visualblocks)::before {
  left: 0px !important;
}

.mce-content-body[data-mce-placeholder]:not(.mce-visualblocks)::before {
  margin-top: 1em !important;
}

.tox .tox-tbtn--select {
  min-width: 92px;
}

.mce-content-body hr {
  border-color: #b1b1b1 !important;
}
