.tox .tox-tbtn:hover {
  background: var(--hover) !important;
}

.tox-textfield {
  border-radius: 5px !important;
  border-color: var(--border) !important;
  color: var(--text) !important;
  padding: 10px !important;
  font-size: 0.875rem !important;
  line-height: 0.875rem !important;
}

.tox-textfield:focus {
  outline: none !important;
  border-color: var(--primary) !important;
  border-width: 2px !important;
}

.tox-textfield:hover {
  border-color: var(--dimPrimary) !important;
}

.tox-button {
  background-color: var(--primary) !important;
  color: var(--static) !important;
  transition: opacity 300ms linear;
  border-width: 0px !important;
}

.tox-button:hover:not(.tox-button[disabled="disabled"]) {
  opacity: 0.8;
}

.tox-button--secondary,
.tox-button--icon {
  background-color: var(--bgSecondary) !important;
  color: var(--text) !important;
}
.tox-button[disabled="disabled"] {
  background-color: var(--bgSecondary) !important;
  color: var(--fontTertiary) !important;
}

tox-tbtn tox-tbtn--select {
  border-radius: 5px !important;
}

.tox-dialog {
  border-radius: 5px !important;
  border-width: 0px !important;
  box-shadow: 4px 5px 18px 2px #00000038;
  padding: 15px !important;
}

.tox-dialog__footer {
  border-top: 0px !important;
}

.tox-dialog__title {
  color: var(--text) !important;
  font-size: 1.2rem !important;
  font-weight: bold !important;
}

.tox .tox-toolbar,
.tox .tox-toolbar__overflow,
.tox .tox-toolbar__primary {
  background: none !important;
  border-bottom: 0px solid var(--border) !important;
}

.mce-content-body {
  outline: none;
  height: 100%;
}

.mce-content-body:not([dir="rtl"])[data-mce-placeholder]:not(.mce-visualblocks)::before {
  left: 0px !important;
}

.mce-content-body[data-mce-placeholder]:not(.mce-visualblocks)::before {
  margin-top: 1em !important;
}

.mce-content-body h2::before,
h3::before,
h4::before,
h5::before,
h6::before {
  font-size: 12px;
  font-weight: normal;
  color: var(--fontTertiary);
  letter-spacing: 1.2px;
  padding: 1px 3px 1px 3px;
  margin-left: -31px;
  margin-right: 7px;
  cursor: row-resize;
}

.mce-content-body h2::before {
  content: "H2";
}

.mce-content-body h3::before {
  content: "H3";
}

.mce-content-body h4::before {
  content: "H4";
}

.mce-content-body h5::before {
  content: "H5";
}

.mce-content-body .c::before {
  color: var(--static);
  background-color: var(--primary);
  border-radius: 5px;
}

.h {
  display: none;
}

.tox-menu.tox-collection.tox-collection--list.tox-selected-menu {
  max-height: 190px !important;
}

.mce-content-body pre {
  overflow-x: auto;
  line-height: 1.5 !important;
  padding: 15px;
  border: 1px solid var(--border);
  border-radius: 5px;
  border: 1px solid var(--border);
  border-radius: 5px;
}

.mce-content-body code[data-mce-selected="inline-boundary"] {
  background-color: rgb(27 31 35 / 5%);
}

.mce-content-body code {
  background-color: rgb(27 31 35 / 5%);
  border: 1px solid var(--border);
  border-radius: 5px;
}

code,
pre,
pre * {
  font-family: ui-monospace, SFMono-Regular, SF Mono, Consolas, Liberation Mono,
    Menlo, monospace !important;
  font-size: 14px !important;
}
