.tox .tox-tbtn:hover {
  background: var(--hover) !important;
}

.tox-textfield {
  border-radius: 5px !important;
  border-color: var(--border) !important;
  color: var(--text) !important;
  padding: 10px !important;
  font-size: 0.875rem !important;
  line-height: 0.875rem !important;
}

.tox-textfield:focus {
  outline: none !important;
  border-color: var(--primary) !important;
  border-width: 2px !important;
}

.tox-textfield:hover {
  border-color: var(--dimPrimary) !important;
}

.tox-button {
  background-color: var(--primary) !important;
  color: var(--static) !important;
  transition: opacity 300ms linear;
  border-width: 0px !important;
}

.tox-button:hover:not(.tox-button[disabled="disabled"]) {
  opacity: 0.8;
}

.tox-button--secondary,
.tox-button--icon {
  background-color: var(--bgSecondary) !important;
  color: var(--text) !important;
}
.tox-button[disabled="disabled"] {
  background-color: var(--bgSecondary) !important;
  color: var(--fontTertiary) !important;
}

.tox-tbtn .tox-tbtn--select {
  border-radius: 5px !important;
}

.tox-dialog {
  border-radius: 5px !important;
  border-width: 0px !important;
  box-shadow: 4px 5px 18px 2px #00000038;
  padding: 15px !important;
}

.tox-dialog__footer {
  border-top: 0px !important;
}

.tox-dialog__title {
  color: var(--text) !important;
  font-size: 1.2rem !important;
  font-weight: bold !important;
}

.tox .tox-toolbar,
.tox .tox-toolbar__overflow,
.tox .tox-toolbar__primary {
  background: none !important;
  border-bottom: 0px solid var(--border) !important;
}

.mce-content-body {
  outline: none;
  height: 100%;
  padding-bottom: 150px;
  margin: 0px !important;
  background-color: transparent !important;
  /* overflow-x: hidden; */
}

.mce-content-body * {
  font-family: inherit;
}

.mce-content-body:not([dir="rtl"])[data-mce-placeholder]:not(.mce-visualblocks)::before {
  left: 0px !important;
}

.mce-content-body[data-mce-placeholder]:not(.mce-visualblocks)::before {
  margin-top: 1em !important;
}

.tox .tox-tbtn--select {
  min-width: 92px;
}

.mce-content-body hr {
  border-color: #b1b1b1 !important;
}

.mce-content-body img {
  border-radius: 5px;
  max-width: 100% !important;
  /* height: auto !important; */
  background-color: var(--bgSecondary);
}

.mce-content-body img[style="float: right;"] {
  margin-left: 10px;
}

.mce-content-body img[style="float: left;"] {
  margin-right: 10px;
}

.mce-content-body iframe {
  max-width: 100% !important;
}

.mce-content-body [data-mce-selected] {
  outline: none !important;
  box-shadow: 0px 0px 0px 2px var(--primary);
}

.mce-content-body div.mce-resizehandle {
  background-color: transparent !important;
  border-color: transparent !important;
  border-radius: 50px;
  width: 15px !important;
  height: 15px !important;
}

.mce-content-body code[data-mce-selected="inline-boundary"]:not(pre code) {
  background-color: var(--bgSecondary);
}

.mce-content-body code:not(pre code) {
  background-color: var(--bgSecondary);
  border: 1px solid var(--border);
  border-radius: 5px;
  padding: 3px 5px 0px 5px;
  font-family: ui-monospace, SFMono-Regular, SF Mono, Consolas, Liberation Mono,
    Menlo, monospace !important;
  font-size: 10pt !important;
}

.mce-content-body h1,
.mce-content-body h2,
.mce-content-body h3,
.mce-content-body h4,
.mce-content-body h5,
.mce-content-body h6 {
  font-weight: 600 !important;
}

.mce-content-body a {
  color: var(--primary) !important;
}

.mce-content-body [data-mce-selected="inline-boundary"] {
  background-color: var(--shade) !important;
}

a[data-mce-selected],
td[data-mce-selected],
th[data-mce-selected],
table[data-mce-selected] {
  box-shadow: none !important;
}

/*
  temporary fix for empty p tags
*/
.mce-content-body p:empty {
  min-height: 22.4px;
}

.tox-checklist > li,
.checklist > li {
  list-style: none;
  margin: 0.25em 0;
  color: var(--text);
}

.tox-checklist > li::before,
.checklist > li::before {
  content: "";
  border: 1px solid var(--disabled);
  border-radius: 2px;
  margin-left: -1.5em;
  margin-top: 0.125em;
  cursor: pointer;
  position: absolute;
  height: 13px;
  width: 13px;
}

.tox-checklist li.tox-checklist--checked::before,
.checklist li.checked::before {
  content: "";
  width: 16px;
  height: 16px;
  display: inline-block;
  mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 294.31006 294.31006'%3E%3Cpath stroke='%23000' stroke-miterlimit='10' stroke-width='18.6666' d='M9.3333 9.3333v275.64346h275.64346V9.3333zm102.6663 228.35474-.62097556-.62097556-1.86715778 1.86715778-75.28862-75.91084L69.68752 128.17968444l40.44492222 40.44492222 113.86626-113.86626L259.46337556 90.22302z'/%3E%3C/svg%3E")
    no-repeat 50% 50%;
  mask-size: cover;
  background-color: var(--primary);
  border-radius: 2px;
  border: none;
}

.tox-checklist li.tox-checklist--checked,
.checklist li.checked {
  color: var(--fontTertiary);
}

[dir="rtl"] .tox-checklist > li::before,
[dir="rtl"] .checklist > li::before {
  margin-left: 0;
  margin-right: -1.5em;
}

/* TABLE */

.mce-content-body table {
  table-layout: fixed;
  border-collapse: separate !important;
  border-spacing: 0px;
  border: none !important;
  border-radius: 5px;
  font-size: 14px;
  min-width: 100% !important;
}

.mce-content-body td,
.mce-content-body th {
  padding: 5px !important;
  border: 1px solid var(--border) !important;
  border-left: none !important;
  border-top: none !important;
}

.mce-content-body tbody td:last-child {
  border-right: none !important;
}

.mce-content-body tbody tr:last-child td {
  border-bottom: none !important;
}

.mce-content-body tbody tr:nth-child(even) {
  background-color: var(--bgSecondary);
}

.mce-content-body .table-container {
  border: 1px solid var(--border);
  border-radius: 5px;
  overflow-x: auto;
  max-width: 100%;
}

.mce-content-body td > *,
.mce-content-body th > * {
  margin: 0 !important;
}

.mce-content-body td > * + *,
.mce-content-body th > * + * {
  margin-top: 0.75em !important;
}

.mce-content-body td[data-mce-selected]::after,
.mce-content-body th[data-mce-selected]::after {
  background-color: var(--shade) !important;
  border: 1px solid var(--shade) !important;
  bottom: -1px;
  content: "";
  left: -1px;
  mix-blend-mode: multiply;
  position: absolute;
  right: -1px;
  top: -1px;
}

.mce-content-body table td:hover {
  background-color: var(--shade);
}

.mce-content-body table[data-mce-selected] tr[data-mce-active] {
  background-color: var(--shade);
  /* color: var(--static); */
}

.mce-content-body
  table[data-mce-selected]
  tr[data-mce-active]
  td:not([data-mce-active]),
.mce-content-body
  table[data-mce-selected]
  tr[data-mce-active]
  th:not([data-mce-active]) {
  border-bottom: 1px solid var(--dimPrimary) !important;
  border-top: 1px solid var(--dimPrimary) !important;
}

.mce-content-body
  table[data-mce-selected]
  tr[data-mce-active]
  td:not([data-mce-active]):first-child,
.mce-content-body
  table[data-mce-selected]
  tr[data-mce-active]
  th:not([data-mce-active]):first-child {
  border-left: 1px solid var(--dimPrimary) !important;
}

.mce-content-body
  table[data-mce-selected]
  tr[data-mce-active]
  td:not([data-mce-active]):last-child,
.mce-content-body
  table[data-mce-selected]
  tr[data-mce-active]
  th:not([data-mce-active]):last-child {
  border-right: 1px solid var(--dimPrimary) !important;
}

.mce-content-body table[data-mce-selected] td[data-mce-active],
.mce-content-body table[data-mce-selected] th[data-mce-active] {
  border: 2px solid var(--dimPrimary) !important;
  background-color: var(--shade);
}

table thead {
  font-weight: bold !important;
}

/** CONTEXT TOOLBAR */

.tox .tox-pop__dialog {
  border: 1px solid var(--border) !important;
  border-radius: 5px !important;
  box-shadow: none !important;
}

.tox .tox-pop.tox-pop--bottom::after {
  content: unset !important;
}
.tox .tox-pop.tox-pop--bottom::before {
  content: unset !important;
}

.tox-toolbar {
  margin: 0px !important;
}

.tox-toolbar__group {
  padding: 0px !important;
  padding-right: 10px !important;
}

.tox-toolbar__group:last-child {
  padding-right: 0px !important;
}

.tox .tox-tbtn:not(.tox-tbtn--select) {
  height: auto !important;
  padding: 5px 0px 5px 0px !important;
  margin: 0px !important;
}

.tox-menu {
  min-width: 150px !important;
}

.ephox-snooker-resizer-bar {
  background-color: var(--dimPrimary) !important;
}

.ephox-snooker-resizer-cols.ephox-snooker-resizer-bar {
  transition: opacity 300ms 500ms;
}
.ephox-snooker-resizer-cols.ephox-snooker-resizer-bar:hover {
  opacity: 0.2 !important;
}

/*
  COLLAPSIBLE HEADERS
*/

.editorScroll h2::before,
.editorScroll h3::before,
.editorScroll h4::before,
.editorScroll h5::before,
.editorScroll h6::before {
  transition: opacity 200ms ease-in;
  opacity: 0;

  cursor: row-resize;
  margin-right: 7px;
  margin-left: -30px;

  content: "";
  width: 24px;
  height: 24px;
  display: inline-block;
  mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' role='presentation' style='stroke-width: 0px; stroke: rgb(59, 59, 59); width: 14px; height: 14px;'%3E%3Cpath d='M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z' style='fill: rgb(59, 59, 59);'%3E%3C/path%3E%3C/svg%3E")
    no-repeat 50% 50%;
  mask-size: cover;
  background-color: var(--disabled);
  border: none;
}

.editorScroll:hover h2::before,
.editorScroll:hover h3::before,
.editorScroll:hover h4::before,
.editorScroll:hover h5::before,
.editorScroll:hover h6::before {
  opacity: 1;
}

.mce-content-body h2::before {
  margin-bottom: -5px;
}
.mce-content-body h3::before {
  margin-bottom: -6px;
}
.mce-content-body h4::before {
  margin-bottom: -7px;
}
.mce-content-body h5::before {
  margin-bottom: -6px;
  width: 20px;
  height: 20px;
}
.mce-content-body h6::before {
  margin-bottom: -5px;
  width: 18px;
  height: 18px;
}

.mce-content-body .c::before {
  mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' role='presentation' style='stroke-width: 0px; stroke: rgb(59, 59, 59); width: 14px; height: 14px;'%3E%3Cpath d='M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58' style='fill: rgb(59, 59, 59);'%3E%3C/path%3E%3C/svg%3E")
    no-repeat 50% 50%;
}

.h {
  display: none;
}
