.ProseMirror p.is-editor-empty:first-child::before {
  color: var(--placeholder);
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

/* .ProseMirror-focused .is-editor-empty::before {
    content: "";
} */
