.yarnrc.yml
artifacts/
# OSX
#
.DS_Store

native/android/app/src/main/assets/
*Issues.md
build_cache/
#
.yarnrc
.npmrc
.yarnrc.yml
.yarn
*.log
.cxx/
*.keystore
!debug.keystore

# Xcode
#
native/ios/Pods
native/ios/DerivedData
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
*.hprof
**/.xcode.env.local
native/cache
# Android/IntelliJ
#
rn-build-deps/
build/
.idea
.gradle
local.properties
*.iml
# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# BUCK
buck-out/
\.buckd/
*.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots

# Bundle artifact
*.jsbundle

# Ruby / CocoaPods
/ios/Pods/
/vendor/bundle/


# Other
react-native-mmkv-storage/
react-native-eventsource/
react-native-html-to-pdf/
react-native-receive-sharing-intent/
react-native-scrollable-tab-view/
react-native-iap/
react-native-exit-app/
releasemaps/