@keyframes example {
  0% {
    transform: translate(1px, 1px) rotate(0.001deg);
    transition-timing-function: linear;
  }
  75% {
    transform: translate(1px, 0px) rotate(0.001deg);
    transition-timing-function: linear;
  }
  50% {
    transform: translate(0px, -1px) rotate(0.001deg);
    transition-timing-function: linear;
  }
  100% {
    transform: translate(1px, 1px) rotate(0.001deg);
  }
}

.home-animation {
  animation-name: example;
  animation-duration: 3000ms;
  animation-iteration-count: infinite;
  transition: all 1500ms;
  transition-timing-function: ease;
}
