/*!
 *  Hack typeface https://github.com/source-foundry/Hack
 *  License: https://github.com/source-foundry/Hack/blob/master/LICENSE.md
 */
/* FONT PATHS
 * -------------------------- */
@font-face {
  font-family: "Hack";
  src: url("fonts/hack-regular.woff2") format("woff2"),
    url("fonts/hack-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Hack";
  src: url("fonts/hack-bold.woff2") format("woff2"),
    url("fonts/hack-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Hack";
  src: url("fonts/hack-italic.woff2") format("woff2"),
    url("fonts/hack-italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Hack";
  src: url("fonts/hack-bolditalic.woff2") format("woff2"),
    url("fonts/hack-bolditalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}
