span.diff-del {
  background-color: #fdb0c0;
}

span.diff-ins {
  background-color: #cafffb;
}

.diffviewer img {
  height: auto !important;
  max-width: 100% !important;
  background-color: var(--bgSecondary);
  border-radius: 5px;
}
