#searchInput:focus + #searchIcon {
  color: var(--primary);
}
.darkModeSearch:-webkit-autofill{
  -webkit-text-fill-color: rgba(231, 225, 225, 0.842) !important;
  caret-color: white;
  font-size: inherit !important;
}