/* open-sans-regular - latin */
@font-face {
  font-family: "Inter";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: local("Inter"), url(./fonts/Inter-Regular.ttf) format("truetype");
}

/* open-sans-italic - latin */
@font-face {
  font-family: "Inter";
  font-display: swap;
  font-style: italic;
  font-weight: 400;
  src: local("Inter"), url(./fonts/Inter-Italic.ttf) format("truetype");
}

/* open-sans-600 - latin */
@font-face {
  font-family: "Inter";
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  src: local("Inter"), url(./fonts/Inter-Medium.ttf) format("truetype");
}

/* open-sans-600italic - latin */
@font-face {
  font-family: "Inter";
  font-display: swap;
  font-style: italic;
  font-weight: 500;
  src: local("Inter"),
    url(./fonts/Inter-MediumItalic.ttf) format("truetype");
}

/* open-sans-600 - latin */
@font-face {
  font-family: "Inter";
  font-display: swap;
  font-style: normal;
  font-weight: 600;
  src: local("Inter"), url(./fonts/Inter-SemiBold.ttf) format("truetype");
}

/* open-sans-600italic - latin */
@font-face {
  font-family: "Inter";
  font-display: swap;
  font-style: italic;
  font-weight: 600;
  src: local("Inter"),
    url(./fonts/Inter-SemiBoldItalic.ttf) format("truetype");
}

/* open-sans-700 - latin */
@font-face {
  font-family: "Inter";
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: local("Inter"), url(./fonts/Inter-Bold.ttf) format("truetype");
}

/* open-sans-700italic - latin */
@font-face {
  font-family: "Inter";
  font-display: swap;
  font-style: italic;
  font-weight: 700;
  src: local("Inter"),
    url(./fonts/Inter-BoldItalic.ttf) format("truetype");
}
