:root {
  --sash-size: 10px;
  --sash-hover-size: 4px;
}

.sash-module_sash__K-9lB.sash-module_hover__80W6I:before,
.sash-module_sash__K-9lB.sash-module_active__bJspD:before {
  background: var(--accent);
}

.allotment-module_splitView__L-yRc.allotment-module_separatorBorder__x-rDS
  > .allotment-module_splitViewContainer__rQnVa
  > .allotment-module_splitViewView__MGZ6O:not(:first-child)::before {
  background-color: var(--border);
}
/* open-sans-regular - vietnamese_latin-ext_latin_hebrew_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local(""),
    url("./assets/fonts/open-sans-v34-vietnamese_latin-ext_latin_hebrew_greek-ext_greek_cyrillic-ext_cyrillic-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./assets/fonts/open-sans-v34-vietnamese_latin-ext_latin_hebrew_greek-ext_greek_cyrillic-ext_cyrillic-regular.woff")
      format("woff"),
    /* Modern Browsers */
      url("./assets/fonts/open-sans-v34-vietnamese_latin-ext_latin_hebrew_greek-ext_greek_cyrillic-ext_cyrillic-regular.ttf")
      format("truetype");
}
/* open-sans-600 - vietnamese_latin-ext_latin_hebrew_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local(""),
    url("./assets/fonts/open-sans-v34-vietnamese_latin-ext_latin_hebrew_greek-ext_greek_cyrillic-ext_cyrillic-600.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./assets/fonts/open-sans-v34-vietnamese_latin-ext_latin_hebrew_greek-ext_greek_cyrillic-ext_cyrillic-600.woff")
      format("woff"),
    /* Modern Browsers */
      url("./assets/fonts/open-sans-v34-vietnamese_latin-ext_latin_hebrew_greek-ext_greek_cyrillic-ext_cyrillic-600.ttf")
      format("truetype");
}
/* open-sans-700 - vietnamese_latin-ext_latin_hebrew_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""),
    url("./assets/fonts/open-sans-v34-vietnamese_latin-ext_latin_hebrew_greek-ext_greek_cyrillic-ext_cyrillic-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./assets/fonts/open-sans-v34-vietnamese_latin-ext_latin_hebrew_greek-ext_greek_cyrillic-ext_cyrillic-700.woff")
      format("woff"),
    /* Modern Browsers */
      url("./assets/fonts/open-sans-v34-vietnamese_latin-ext_latin_hebrew_greek-ext_greek_cyrillic-ext_cyrillic-700.ttf")
      format("truetype");
}
/* open-sans-italic - vietnamese_latin-ext_latin_hebrew_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local(""),
    url("./assets/fonts/open-sans-v34-vietnamese_latin-ext_latin_hebrew_greek-ext_greek_cyrillic-ext_cyrillic-italic.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./assets/fonts/open-sans-v34-vietnamese_latin-ext_latin_hebrew_greek-ext_greek_cyrillic-ext_cyrillic-italic.woff")
      format("woff"),
    /* Modern Browsers */
      url("./assets/fonts/open-sans-v34-vietnamese_latin-ext_latin_hebrew_greek-ext_greek_cyrillic-ext_cyrillic-italic.ttf")
      format("truetype");
}
/* open-sans-600italic - vietnamese_latin-ext_latin_hebrew_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: local(""),
    url("./assets/fonts/open-sans-v34-vietnamese_latin-ext_latin_hebrew_greek-ext_greek_cyrillic-ext_cyrillic-600italic.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./assets/fonts/open-sans-v34-vietnamese_latin-ext_latin_hebrew_greek-ext_greek_cyrillic-ext_cyrillic-600italic.woff")
      format("woff"),
    /* Modern Browsers */
      url("./assets/fonts/open-sans-v34-vietnamese_latin-ext_latin_hebrew_greek-ext_greek_cyrillic-ext_cyrillic-600italic.ttf")
      format("truetype");
}
/* open-sans-700italic - vietnamese_latin-ext_latin_hebrew_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local(""),
    url("./assets/fonts/open-sans-v34-vietnamese_latin-ext_latin_hebrew_greek-ext_greek_cyrillic-ext_cyrillic-700italic.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./assets/fonts/open-sans-v34-vietnamese_latin-ext_latin_hebrew_greek-ext_greek_cyrillic-ext_cyrillic-700italic.woff")
      format("woff"),
    /* Modern Browsers */
      url("./assets/fonts/open-sans-v34-vietnamese_latin-ext_latin_hebrew_greek-ext_greek_cyrillic-ext_cyrillic-700italic.ttf")
      format("truetype");
}

.rpv-core__text-layer,
.rpv-core__text-layer *,
.selectable,
.selectable *,
input,
textarea,
[contenteditable="true"],
[contenteditable="true"] * {
  -webkit-touch-callout: initial;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: initial;
  user-select: text;
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.rpv-core__text-layer-text::selection {
  background-color: var(--textSelection) !important;
  color: transparent;
}

.rpv-core__text-layer-text::-moz-selection {
  /* Code for Firefox */
  background-color: var(--textSelection) !important;
  color: transparent;
}

::-moz-selection {
  /* Code for Firefox */
  background-color: var(--textSelection);
  color: var(--paragraph);
}

::selection {
  background-color: var(--textSelection);
  color: var(--paragraph);
}

*::-moz-focus-inner {
  border: 0;
}

.ct-toast {
  padding: 0px 10px !important;
  background-color: var(--background) !important;
}

.route {
  display: flex;
  flex-direction: column;
  flex: 1;
  opacity: 1;
}

.middle-pane {
  overflow: hidden;
  display: flex;
}
.editor-pane {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.nav-pane {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.pane::before {
  width: 1px !important;
}

.route#settings,
#mainRouteContainer {
  overflow: hidden;
}

.ms-track:hover,
.ms-track:active {
  background: var(--background-secondary) !important;
  border-left: 1px solid var(--border-secondary) !important;
}

.ms-track {
  border-width: 0px !important;
}

.ms-active .ms-thumb {
  filter: brightness(80%);
}

.ms-thumb {
  background: var(--paragraph-secondary) !important;
}
