.btn {
  background-color: var(--nn_secondary_background);
}

.btn:active {
  background-color: var(--nn_secondary_hover);
}

.btn_header {
  width: 40;
  height: 40;
  background-color: transparent;
}

.btn_header:active {
  background-color: var(--nn_secondary_hover);
}

.titleBar::placeholder {
  color: var(--nn_primary_placeholder);
}
.titleBar {
  resize: none;
  outline: none;
}

.container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.container::-webkit-scrollbar {
  display: none;
}
